# Dependencies
node_modules/

# Build output
dist/
build/
out-tsc/

# Env files
.env
.env.*
!.env.example

# Editor / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Testing / coverage
coverage/

# Misc
*.local
tmp/*

# Nx
.nx/cache
.nx/workspace-data
.nx/migrate-runs

# Next.js
.next
out
test-output
